<div class="slider-wrapper">
  <div class="swiper-button-prev visible-lg swiper-button-prev-swiper-unique-id-3 swiper-button-disabled"></div>
  <div class="swiper-button-next visible-lg swiper-button-next-swiper-unique-id-3"></div>
  <div class="swiper-container swiper-swiper-unique-id-3 initialized swiper-container-horizontal swiper-container-autoheight"
    data-parallax="1" data-auto-height="1" id="swiper-unique-id-3">
    <div class="swiper-wrapper" style="height: 541px;">
      <div class="swiper-slide swiper-slide-active" style="width: 1284px;">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <div class="cell-view page-height" style="height: 500px;">
                <div class="col-xs-b40 col-sm-b80"></div>
                <div data-swiper-parallax-x="-600" style="transform: translate3d(0px, 0px, 0px);">
                  <div class="simple-article color uppercase size-5">-30% off</div>
                  <div class="col-xs-b5"></div>
                </div>
                <div data-swiper-parallax-x="-500" style="transform: translate3d(0px, 0px, 0px);">
                  <h1 class="h1">smart watchs in our store</h1>
                  <div class="title-underline left"><span></span></div>
                </div>
                <div data-swiper-parallax-x="-400" style="transform: translate3d(0px, 0px, 0px);">
                  <div class="simple-article size-4 grey">In feugiat molestie tortor a malesuada. Etiam a venenatis
                    ipsum. Proin pharetra elit at feugiat commodo vel placerat tincidunt sapien nec</div>
                  <div class="empty-space col-xs-b20"></div>
                  <div class="simple-article grey uppercase size-5">starting from <span class="color">$199.00</span></div>
                  <div class="empty-space col-xs-b30"></div>
                </div>
                <div data-swiper-parallax-x="-300" style="transform: translate3d(0px, 0px, 0px);">
                  <div class="buttons-wrapper">
                    <a class="button size-2 style-2" href="#">
                      <span class="button-wrapper">
                        <span class="icon"><img src="../../../assets/img/icon-1.png" alt=""></span>
                        <span class="text">Learn More</span>
                      </span>
                    </a>
                    <a class="button size-2 style-3" href="#">
                      <span class="button-wrapper">
                        <span class="icon"><img src="../../../assets/img/icon-3.png" alt=""></span>
                        <span class="text">Add To Cart</span>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="col-xs-b40 col-sm-b80"></div>
              </div>
            </div>
          </div>
          <div class="slider-product-preview">
            <img src="../../../assets/img/product-preview-4.jpg" alt="">
          </div>
          <div class="empty-space col-xs-b80 col-sm-b0"></div>
        </div>
      </div>
      <div class="swiper-slide swiper-slide-next" style="width: 1284px;">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-sm-offset-6">
              <div class="cell-view page-height" style="height: 500px;">
                <div class="col-xs-b40 col-sm-b80"></div>
                <div data-swiper-parallax-x="-600" style="transform: translate3d(600px, 0px, 0px);">
                  <div class="simple-article color uppercase size-5">-30% off</div>
                  <div class="col-xs-b5"></div>
                </div>
                <div data-swiper-parallax-x="-500" style="transform: translate3d(500px, 0px, 0px);">
                  <h1 class="h1">smart watchs in our store</h1>
                  <div class="title-underline left"><span></span></div>
                </div>
                <div data-swiper-parallax-x="-400" style="transform: translate3d(400px, 0px, 0px);">
                  <div class="simple-article size-4 grey">In feugiat molestie tortor a malesuada. Etiam a venenatis
                    ipsum. Proin pharetra elit at feugiat commodo vel placerat tincidunt sapien nec</div>
                  <div class="empty-space col-xs-b20"></div>
                  <div class="simple-article grey uppercase size-5">starting from <span class="color">$199.00</span></div>
                  <div class="empty-space col-xs-b30"></div>
                </div>
                <div data-swiper-parallax-x="-300" style="transform: translate3d(300px, 0px, 0px);">
                  <div class="buttons-wrapper">
                    <a class="button size-2 style-2" href="#">
                      <span class="button-wrapper">
                        <span class="icon"><img src="../../../assets/img/icon-1.png" alt=""></span>
                        <span class="text">Learn More</span>
                      </span>
                    </a>
                    <a class="button size-2 style-3" href="#">
                      <span class="button-wrapper">
                        <span class="icon"><img src="../../../assets/img/icon-3.png" alt=""></span>
                        <span class="text">Add To Cart</span>
                      </span>
                    </a>
                  </div>
                </div>
                <div class="col-xs-b40 col-sm-b80"></div>
              </div>
            </div>
          </div>
          <div class="slider-product-preview align-left">
            <img src="../../../assets/img/product-preview-4.jpg" alt="">
          </div>
          <div class="empty-space col-xs-b80 col-sm-b0"></div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination swiper-pagination-swiper-unique-id-3 swiper-pagination-clickable swiper-pagination-bullets"><span
        class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
  </div>
</div>