<div class="container">
        <div class="empty-space col-xs-b15 col-sm-b30"></div>
        <div class="breadcrumbs">
            <a href="#">home</a>
            <a href="#">accessories</a>
            <a href="#">gadgets</a>
            <a href="#">sport gadgets</a>
    
        </div>
        <input type="text" style="margin: 20px 0" [(ngModel)]="searchText" name="search" placeholder="Search..">
    
        <div class="row">
            <div class="col-md-9 col-md-push-3">
                <div class="swiper-container rounded swiper-swiper-unique-id-3 initialized swiper-container-horizontal" id="swiper-unique-id-3">
                    <div class="swiper-button-prev style-1 hidden swiper-button-prev-swiper-unique-id-3 swiper-button-disabled"></div>
                    <div class="swiper-button-next style-1 hidden swiper-button-next-swiper-unique-id-3"></div>
    
                    <div class="swiper-pagination swiper-pagination-swiper-unique-id-3 swiper-pagination-clickable swiper-pagination-bullets"><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active"></span><span class="swiper-pagination-bullet"></span></div>
                </div>
    
    
                <div class="products-content">
                    <div class="products-wrapper">
                        <div class="row nopadding">
                            <div class="col-sm-4" *ngFor="let prod of products[0] | paginate: { itemsPerPage:5, currentPage:p} | filter : searchText">
                                <div class="product-shortcode style-1">
                                    <div class="title">
                                        <div class="simple-article size-1 color col-xs-b5"><a href="#">{{prod.category}}</a></div>
                                        <div class="h6 animate-to-green"><a href="#">{{prod.name}}</a></div>
                                    </div>
                                    <div class="preview">
                                        <img src="{{prod.views[0]}}" alt="">
                                        <div class="preview-buttons valign-middle">
                                            <div class="valign-middle-content">
                                                <a class="button size-2 style-2" routerLink="/products/{{prod.id}}">
                                                    <span class="button-wrapper">
                                                        <span class="icon"><img src="src/assets/img/icon-1.png" alt=""></span>
                                                        <span class="text">Learn More</span>
                                                    </span>
                                                </a>
                                                <a class="button size-2 style-3" href="#">
                                                    <span class="button-wrapper">
                                                        <span class="icon"><img src="src/assets/img/icon-3.png" alt=""></span>
                                                        <span class="text">Add To Cart</span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price">
                                        <div class="color-selection">
                                            <div class="entry active" style="color: #a7f050;"></div>
                                            <div class="entry" style="color: #50e3f0;"></div>
                                            <div class="entry" style="color: #eee;"></div>
                                        </div>
                                        <div class="simple-article size-4"><span class="color">{{prod.prix}}DT</span>&nbsp;&nbsp;&nbsp;</div>
                                    </div>
                                    <div class="description">
                                        <div class="simple-article text size-2">{{prod.description}}</div>
                                        <div class="icons">
                                            <a class="entry"><i class="fa fa-check" aria-hidden="true"></i></a>
                                            <a class="entry open-popup" data-rel="3"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                            <a class="entry"><i class="fa fa-heart-o" aria-hidden="true"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <pagination-controls  (pageChange)="p= $event"></pagination-controls>
                    </div>
                </div>
        
                <div class="empty-space col-xs-b35 col-md-b70"></div>
                <div class="empty-space col-md-b70"></div>
            </div>
            <app-sidebar></app-sidebar>
        </div>
    
    </div>
    