
<div class="col-md-3 col-md-pull-9">
  <div class="h4 col-xs-b10">popular categories</div>
  
<ul class="categories-menu transparent"  *ngFor="let cat of categories" >
      <li>
          <a routerLink= "/products/cate/{{cat}}" > {{cat}} </a>
      </li>
    </ul> 

  <div class="empty-space col-xs-b25 col-sm-b50"></div>

  <div class="h4 col-xs-b25">Price</div>
  <div id="prices-range" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all">
    <div class="ui-slider-range ui-widget-header ui-corner-all" style="left: 0%; width: 100%;"></div><span class="ui-slider-handle ui-state-default ui-corner-all"
      tabindex="0" style="left: 0%;"></span><span class="ui-slider-handle ui-state-default ui-corner-all" tabindex="0"
      style="left: 100%;"></span>
  </div>
  
  <div>
    <div class="filter-wrap">
      <input [(ngModel)]="searchText" placeholder="Filter Products" class="filter-input">
      <span class="filter-clear" *ngIf="searchText.length>0" (click)="clearFilter()">X</span>
    </div>
  </div>

  
  <!-- product List -->
  <div class="h4 col-xs-b25" >choose</div>
  <ul >
    <li *ngFor="let catego of categories"> 
        <label class="checkbox-entry" >
          <input (change)="getSelected()" type="checkbox"
               name="categories"
               value="{{catego}}"
               [(ngModel)]="catego.selected"/> 
          <span>{{catego}}</span>
        </label>
    </li>
  </ul>
  
 
<div class="empty-space col-xs-b25 col-sm-b50"></div>

  <div class="empty-space col-xs-b25 col-sm-b60"></div>


</div>
