<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
<h3>Howdy, GUEST</h3>
<p>Login to get started...</p>

<button (click)="auth.googleLogin()">
  <i class="fa fa-google"></i> Connect Google
</button>

</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
<div class="card" *ngIf="auth.user | async as user">
  <img [src]="user.photoURL" alt="John" style="width:100%">
  <h1>{{ user.displayName }}</h1>
  <p class="title">{{ user.uid }}</p>
  <p></p>
  <a href="#"><i class="fa fa-dribbble"></i></a> 
  <a href="#"><i class="fa fa-twitter"></i></a> 
  <a href="#"><i class="fa fa-linkedin"></i></a> 
  <a href="#"><i class="fa fa-facebook"></i></a> 
  <p><button></button></p>
</div>
</ng-template>

<div class="container" style="margin-bottom: -50rem">
  <div class="h2">MY<span class="color">ORDERS</span></div>
</div>
<app-commande-table></app-commande-table>